<footer class="page-footer font-small darkBackground">
  <div class="footer-copyright text-center py-3">
    &copy <span id="fYear"></span> Copyright: <span class="lightFont">Mathias Lund Ahrn | Certinax</span>
  </div>
</footer>

<script>
  const year = new Date().getFullYear();
  $("#fYear").html(year);
</script>