<div class="container nav-space text-center mt-3">
  <h1>{{title}}</h1>
  <hr>
  <br>
  <div class="container d-flex justify-content-center">
    <div class="d-flex flex-column">
      <div id="scores" class="row mb-3 px-auto"></div>
      <div id="stats" class="flex-column mb-2"></div>
    </div>
  </div>
  <p>This is a simple express app which plays a line of bowling and calculates the score. Play and see if you can get a
    new highscore.</p>
  <button id="play" class="btn btn-primary">Play Game</button>
</div>